body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}

button {
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 18px;
  width: 300px;
  margin-right: 10px;
}
